<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button color="success">
  
        </ion-menu-button>
      </ion-buttons>
      <ion-title>
       Options
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark" padding>
<ion-item color="dark">
  <ion-range color="success">
    <ion-icon color="light" slot="start" size="small" name="volume-off"></ion-icon>
    <ion-icon color="light" slot="end" name="volume-high"></ion-icon>
  </ion-range>
</ion-item>
<p>
<ion-item color="dark">
    <ion-range color="success">
      <ion-icon color="light" slot="start" size="small" name="sunny"></ion-icon>
      <ion-icon color="light" slot="end" name="sunny"></ion-icon>
    </ion-range>
  </ion-item>
</p>
</ion-content>
